body{
    margin:5px;
    padding:5px;
    line-height:1.15;
 }
  
 h1,h2, h3{
    font-weight: bold;
    margin-top:15px;
  
 }
 ul li{
    margin-left: 25px;
    list-style-type: upper-roman;
 }

 nav li{
    background-color: aqua;
    border: 2px solid black;
    border-radius: 25px;
    display: inline-block;
    padding: 10px;
    width:18%;
    margin-right: 15px;
 }

 main img{
    width:24%;
    box-sizing: border-box;
    padding:15px;
    border:6px dashed green;
    margin:0;
 }

 p{
    line-height:2;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:darkslategray;
    background-color: bisque;
    margin-bottom: 10px;
    text-align: center;
 }

 div.gallery {
   display: grid;
   grid-template-columns: 250px 250px 250px; /* 1fr 1fr OR 1fr 2fr */
   border: 3px solid black;
   width: 90%;
   justify-content: center;
 }

 .gallery img {
   width: 100%;
 }

 .gallery img:last-child {
   background-color: aqua;
   /*grid-column-start: 1;
   grid-column-end: 3; */
   grid-column: 1 / span 3; /* or grid-column: 1/-1 */
}